body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100%;
}

/*NAV*/
#logo a{
    display: flex;
    align-items: center;
  
}
/*BANNER*/
#ticket{
    text-decoration: none;
    color: aliceblue;
}
.banner{
    background: rgba(7, 6, 6, 0.7) url("./images/ba1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 70vh;
    background-blend-mode: darken;
}
.texts{
    padding-top: 10%;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    text-align: right;
}   

.text{
    width: 40vw;
    height: 50vh;
    justify-content:end;
    align-content: flex-end;
    align-self: flex-end;
    padding-right: 80px;
}

/*BLOQUE DE CARDS*/

#titles{
    display: flex;
    text-align: center;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
}
#titles h4{
    font-size: medium;
}
#titles h3{
    font-size:xx-large;
}

/*BLOQUE DE TEXTO E IMAGEN*/
.image-text{
    display: flex;
    flex-direction: row;
    margin-top:40px;
}

.image-text img{
    width: 50vw;
}

.onlytext{
 padding: 20px;
 color: white;
 background-color: rgb(63, 61, 61);
 width: 50vw;
}

.onlytext h3{
    font-size: xx-large;
}

.onlytext p{
    font-size: larger;
}
/*PAGINA TICKETS*/
#tarjetas{
    margin-top: 50px;
    display: flex;
}

#tarjetas .tarjeta{
    margin-left: 20px;
}
/*bloque de form*/
.form{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.textform{
    /*border: 2px solid blue;*/
    width: 50vw;
}

.color{
    background-color: rgb(113, 153, 204);
}
footer{
    display: flex;
    background-color: rgb(9, 71, 73);
    flex-direction: column;
    width: 100%;
    height: 100px; 
}

.final{
    color: white;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding-top: 2%;
}

@media only screen and (max-width:1312px){
    #tarjetas{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .tarjeta{
        margin-top: 20px;
    }
/*PLAYA CON TEXTO*/
    #fecha{
        display: flex;
        flex-direction: column;
    }

    #fecha img, .onlytext{
        width: 100vw;
    }

    footer{
        display: flex;
        height: 10vh;
    }
    .final{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}


